<div class="container mt-5 trending-news-container">
  <h2 class="mb-4 trending-news-title">Trending Music News</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let news of newsList">
      <div class="card">
        <img src="{{ news.image }}" class="card-img-top" alt="News Image" />
        <div class="card-body">
          <h5 class="card-title">{{ news.title }}</h5>
          <p class="card-text">{{ news.description }}</p>
          <a href="{{ news.url }}" target="_blank" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Strelica za povratak na vrh -->
  <button class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
    ↑
  </button>
</div>
